$color-primary: #6E2CC3;
$color-secondary: #494949;

.color-primary-bg {
    background-color: $color-primary;
}

.color-primary {
    color: $color-primary;
}

.color-secondary-bg {
    background-color: $color-secondary;
}

.color-secondary {
    color: $color-secondary;
}
